<table class='table'>

      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"  %>
      <tbody><tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.username %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
</tbody></table>

<div class="row">
  <% if user == current_user %>
  <%= link_to "", edit_user_path(user.id) ,class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
  <% else %>
  <%= link_to "", user_path(current_user.id) ,class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
<% end %>
</div>
