<div class= "body">

	<%= render "users/header" %>

	<div class= "container">
		<div class= "row">
			<div class="col-xs-3">
				<h2>User info</h2>

				<%= render 'users/sidebar', user: @user %>
				<%= render 'books/newform', book:@book %>
			</div>

			<div class ="col-xs-9">
				<h2>Users</h2>

				<table class ="table">
					<thead>
						<tr>
							<th>image</th>
							<th>name</th>
							<th>followings</th>
							<th>followers</th>
							<th colspan="2"></th>
						</tr>
					</thead>

					<tbody>
						<% @users.each do |user| %>
						<tr>
							<td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '40x40'  %></td>
						</td>
						<td><%= user.name %></td>
						<td><%= user.followings.count %></td>
						<td><%= user.followers.count %></td>
						<td><%= link_to "Show", user_path(user.id) %></td>
						<td>
							<% unless current_user == user %>
							<% if current_user.following?(user) %>
							<%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
							<%= hidden_field_tag :follow_id, user.id %>
							<%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
							<% end %>
							<% else %>
							<%= form_for(current_user.relationships.build) do |f| %>
							<%= hidden_field_tag :follow_id, user.id %>
							<%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
							<% end %>
							<% end %>
							<% end %>
             </td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<%= render 'users/footer' %>
</div>
