<div class= "body">

	<%= render "users/header" %>

	<div class= "container">

    <div class="col-xs-3">
      <h2>User info</h2>

      <%= render 'users/sidebar', user: @user %>
      <%= render 'books/newform', book:@book %>
    </div>

		<div class ="col-xs-9">
			<h2>Users</h2>

			<table class ="table">
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th colspan="3"></th>
					</tr>
				</thead>

				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg"  %></td>
						</td>
						<td><%= user.username %></td>
						<td><%= link_to "show", user_path(user.id) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>

	<%= render 'users/footer' %>
</div>
