<div class="body">

  <%= render "users/header" %>

  <div class="container">
<h2>Editing Book</h2>

<%= form_for(@book) do |f| %>

  <div class="form-group">
    <%= f.label :Title %><br />
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :Opinion %><br />
    <%= f.text_field :body, class: "form_control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Book" %>
  </div>

<% end %>


</div>

<%= render "users/footer" %>

</div>
