<div class="body">

	<%= render "users/header" %>

	<div class="container">
    <p id="notice"><%= flash[:notice] %></p>
		<div class="row">
			<div class="col-xs-3">
				<h2>User info</h2>

				<%= render 'users/sidebar', user: @user %>
				<%= render 'books/newform', book:@book_new %>
			</div>

			<div class="col-xs-9">
				<h2>Book detail</h2>

				<table class="table table-hover table-inverse">
					<thead>

					</thead>

					<tbody>
						<tr>
							<td><%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '50x50'  %>
								
							</td>
							<td><%= link_to @book.title %></td>
							<td><%= @book.body %></td>
							<% if @user == current_user %>
							<td>
							  <a class="btn btn-success btn-sm" href="/books/<%= @book.id %>/edit">Edit</a>
							</td>
							<td>
							  <a class="btn btn-danger btn-sm" rel="nofollow" data-method="delete" href="/books/<%= @book.id %>">Destroy</a>
							</td>
							<% end %>
						</tr>
					</tbody>

				</table>
			</div>
		</div>

	</div>

	<%= render 'users/footer' %>

</div>
