<div class="body">

	<%= render "users/header" %>

	<div class="container">

		<p id="notice"><%= flash[:notice] %></p>

		<div class="row">
			<div class="col-xs-3">
				<h2>User info</h2>

				<%= render 'users/sidebar', user: @user %>
				<%= render 'books/newform', book:@book_new %>
			</div>

			<div class="col-xs-9">
				<h2>Book detail</h2>

				<table class="table table-hover table-inverse">

					<tbody>
						<tr>
							<td>
								<a><%= link_to user_path(@user) do %>
									<%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: '50x50'  %><br>
									<%= @user.name %></a>
								</td>
								<% end %>
								<td><%= link_to @book.title %></td>
								<td><%= @book.body %></td>
								<% if @user == current_user %>
								<td>
									<a class="btn btn-success btn-sm" href="/books/<%= @book.id %>/edit">Edit</a>
								</td>
								<td>
									<a class="btn btn-danger btn-sm" rel="nofollow" data-method="delete" href="/books/<%= @book.id %>">Destroy</a>
								</td>
								<% end %>
								<td>
									<i class="fa fa-comment-o" aria-hidden="true"></i>
									<a href="#comments"><%= @book.book_comments.count %></a>
								</td>
							</tr>
						</tbody>

					</table>
				</div>
				<div class="col-xs-9">
					<h2>Comments</h2>
					<table class="table">
						<thead>
							<tr>
								<th colspan="1"></th>
								<th>comment</th>
								<th colspan="3"></th>
							</tr>
						</thead>
						<tbody>
							<% @book.book_comments.each do |book_comment| %>
							<tr>
								<td>
									<%= link_to user_path(book_comment.user.id) do %>
									<%= attachment_image_tag book_comment.user, :profile_image, :fill, 40, 40, format:'jpeg', fallback: "no_image.jpg", size: '50x50' %></td>
									<% end %>
									<td><%= book_comment.comment %></td>
									<% if book_comment.user == current_user %>
									<td>
										<a class="btn btn-success btn-sm" href="/books/<%= @book.id %>/book_comments/<%= book_comment.id %>/edit">Edit</a>
									</td>
									<td>
										<a class="btn btn-danger btn-sm" rel="nofollow" data-method="delete" href="/books/<%=@book.id %>/book_comments/<%= book_comment.id %>">Destroy</a>
									</td>
									<% end %>
									<td colspan="3"></td>
									<% end %>
								</tr>


							</tbody>
						</table>

						<%= form_for [@book, @book_comment] do |f| %>

						<%= f.text_area :comment, row:'5', class: "form-control",placeholder: "コメントはここに" %>

						<div class="actions row">
							<%= f.submit 'Create comment', name:"commit", class:"btn btn-primary col-xs-3" %>

							<% end %>
						</div>

					</div>

					<%= render 'users/footer' %>

				</div>
